<!DOCTYPE html>
<html>
  <head>
    <title>Strain Analysis based on Eye Blinking</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="img">
      <img src="/static/image-PhotoRoom.png-PhotoRoom (24).png" alt="Eye Logo">
    </div>
    <h1>Strain Analysis based on Eye Blinking</h1>
    <p>Investigating eye blinking patterns through strain analysis for enhanced understanding and application.</p>
    <form class="" action="" method="POST" enctype="multipart/form-data">
      <div class="button">
        <input type="submit" class="submit_button" value="Let's Begin">
      </div>
    </form>
    <div class="abt">
      <h2>About The Project</h2>
      <p class="about">The project aims to develop an AI-based strain analysis system using eye blinking patterns. By analyzing the frequency and duration of eye blinks, the system can detect and quantify the level of strain experienced by individuals using AI algorithms. This innovative approach can have wide-ranging applications in various fields, including human-computer interaction, healthcare, and driver monitoring systems.</p>
    </div>
  </body>
</html>